.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../src/assets/stars2.gif); 
  height: 100vh;
  margin: 0;
  padding: 0;
  
}

@keyframes spin {

  from {
     transform: rotate( 0deg );
  }
  
  to {
     transform: rotate( 360deg );
  }
  }

html {
     height: 100%;
     
  }
  
body {
     background: radial-gradient(ellipse at center, #0e3d6c 0%,#000000 100%);
     background-image: url(../src/assets/fondo.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
  }

.root {
  z-index: 1;
}
 
.inputS {
     z-index: 10;
  }

  @media (min-width: 768px) {
    .contenedor-grid {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        column-gap: 2rem;
        grid-auto-flow: column;
        grid-template-areas: "izquierda contenido derecha";        
    }
    .contenido-principal {
        grid-area: contenido;
    }
    .sidebar-1 {
        grid-area: derecha;        
    }
}
     

  

  
  
